*{
  margin : 0;
  padding :0;
  box-sizing: border-box;
}
body{
  background: #ffffff;
}


.circle{
  position: absolute;
  border-radius: 50%;
  background: white;
  animation: ripple 15s infinite;
  box-shadow: 0px 0px 1px 0px #508fb9;
}

.small{
  width: 200px;
  height: 200px;
  left: -100px;
  bottom: -100px;
}

.medium{
  width: 400px;
  height: 400px;
  left: -200px;
  bottom: -200px;
}

.large{
  width: 600px;
  height: 600px;
  left: -300px;
  bottom: -300px;
}

.xlarge{
  width: 800px;
  height: 800px;
  left: -400px;
  bottom: -400px;
}

.xxlarge{
  width: 1000px;
  height: 1000px;
  left: -500px;
  bottom: -500px;
}

.shade1{
  opacity: 0.2;
}
.shade2{
  opacity: 0.5;
}

.shade3{
  opacity: 0.7;
}

.shade4{
  opacity: 0.8;
}

.shade5{
  opacity: 0.9;
}

@keyframes ripple{
  0%{
    transform: scale(0.8);
  }
  
  50%{
    transform: scale(1.2);
  }
  
  100%{
    transform: scale(0.8);
  }
}
nav{
  display : flex;
  justify-content: space-around;
  align-items : center;
  margin : 1.2rem 0;
  padding : 1rem 1 rem;
  font-family: 'jua',sans-serif;
  color : #00D1FF;


}
.logo{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  font-size: 2.5rem;
  padding : 0.5rem 0;
  font-weight: 500;
}
nav .logo i {
  font-size: 2.5rem;
  margin-right : 0.5rem;
}
.navbar ul{
  display : flex;
  justify-content: space-between;
  align-items : center;
  font-size: 1.3rem;
}
nav .navbar li{
  list-style-type: none;
  margin-left : 3rem;
}

.btn button{
  padding : 0.5rem 1.2rem;
  font-size: 1rem;
  border: none;
  border-radius: 30px;
  margin : 0 1.2rem;
}
.btn .join{
  background-color: #00D1FF;
  color  : white;
  padding : 0.5rem 1.5rem;
  border : 3.5px solid #00D1FF;
}
.btn .contactUs{
  border : 3.5px solid #00D1FF;
  color  : #00D1FF;
  background-color: #ffffff;
}
section{
  height  : 100vh;
  width : 100%;
}
#home{
  height : 100vh;
}
#home .container{
 
  max-width : 100%;
  display: flex;
  margin-top : 4rem;
  margin-left : 4.5rem;
  margin-right : 4.5rem;
  margin-bottom: 0;
  overflow: hidden;
}
.text-container{
  max-width : 50%;

}
.text-container h1{
  font-size: 4rem;
  font-family: 'Racing Sans one',sans-serif;
  font-weight: 300;
  max-width : 100%;
  color : #00D1FF;

}
.text-container p{
  max-width : 70%;
  font-size: 1.4rem;
  font-family: 'Roboto',sans-serif;
  margin-top : 0.5rem;
  margin-bottom: 0;
  color : #34DAFF;
}
.image-container{
  max-width: 40%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  bottom : 50px;
  margin : 0 auto;
}
.buy{
  display: flex;
  align-items: center;
  margin-top : 1.5rem;
  margin-bottom: 0;
}
.buy button{
  font-family: 'Ramabhadra',sans-serif;
  padding : 0.2rem 4.3rem;
  font-size: 2rem;
  border: none;
  border-radius: 50px;
  color: #ffffff;
  background-color: #00AA95;
}
.buy i {
  font-size : 4rem;
  margin-left : 2rem;
  color: #00AA95;
}
.down-bar{
  height : 15%;
  max-width : 80%;
  margin : 0 auto;
  background-color: #00DFC4;
  border: none;
  display: flex;
  align-items: center;
  padding : 1.5rem 0.5rem;
  border-radius: 50px;
}
.down-bar .box{
  display: flex;
  color: #ffffff;
  font-family: 'Rambhadra',sans-serif;
}
.down-bar .box img{
  padding-right : 0.5rem;
}
.down-bar .visit{
  margin-left : 2rem;
}
.down-bar .visit,.call{
  margin-right: 5.5rem;
  padding-right: 6rem;
  border-right: 3.5px solid white;
}
.down-text h3{
  font-size: 1.5rem;
}
.down-text p{
  font-size: 1rem;
}